*{
  margin:0px;
  padding:0px;
  font-size:44px;
  font-family:bold;
}

.act{
  background-color:black;
  width:999px;
  height:123px;
}

body{
  background-color:#4A3F4A;
}

p{
  color:#00ff20;
  font-size:44px;
}

g{
  color:#f2d934;
}

.lg{
  width:120px;
}